name: JavaTestMain

on:
  push:
    branches: [ main ]
    paths:
      - ".whitesource"
      - "pom.xml"

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Set up the build environment
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 17
      - name: Decode key
        run: |
          mkdir -p ~/.gnupg/
          echo -e "${{ secrets.OSSRH_GPG_SECRET_KEY }}" | base64 --decode > ~/.gnupg/secring.gpg
      - name: Build with Maven
        run: >
          ./mvnw
          -Dsonar.coverage.jacoco.xmlReportPaths=./target/site/jacoco/jacoco.xml
          -Dgpg.keyname=${{ secrets.SIGNING_KEY_ID }}
          -Dgpg.secretKeyring=$(echo ~/.gnupg/secring.gpg)
          -B clean install org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
