name: ReleaseTrigger
on:
  workflow_dispatch:
    inputs:
      # qlty-ignore: checkov:CKV_GHA_7
      execution:
        description: "Type of execution"
        required: true
        default: "Manual"
        type: choice
        options:
          - Manual
  schedule:
    # * is a special character in YAML, so we have to quote this string
    - cron: "0 4 7 * *"

permissions:
  contents: read

jobs:
  build:
    name: Release trigger action
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Check existing tag
        id: check
        run: |
          echo "has_tag::$(git log --format='format:%d' --decorate-refs="refs/tags/v*" -n 1 | grep tag | wc -l)"
      - name: Debug
        run: |
          echo "Has tag: ${{ steps.check.outputs.has_tag }}"
          echo "---"
          echo "Execution: ${{ github.event.inputs.execution }}"
          echo "---"
          echo "Should run: ${{ steps.check.outputs.has_tag == 0 || github.event.inputs.execution == 'Manual' }}"
      - name: Set up Java for publishing to Maven Central Repository
        if: ${{ steps.check.outputs.has_tag == 0 || github.event.inputs.execution == 'Manual' }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: 17
      - name: "Update trigger"
        if: ${{ steps.check.outputs.has_tag == 0 || github.event.inputs.execution == 'Manual' }}
        run: |
          date +%s > .release-trigger
      - name: Create git branch
        if: ${{ steps.check.outputs.has_tag == 0 || github.event.inputs.execution == 'Manual' }}
        run: |
          git config --global user.name 'Esta Nagy'
          git config --global user.email 'nagyesta@gmail.com'
          git checkout -b release/run-${{ github.run_number }}
          git add .release-trigger
      - name: "bump version"
        if: ${{ steps.check.outputs.has_tag == 0 || github.event.inputs.execution == 'Manual' }}
        run: |
          ./mvnw build-helper:parse-version versions:set -DnewVersion=\${parsedVersion.majorVersion}.\${parsedVersion.minorVersion}.\${parsedVersion.nextIncrementalVersion}
      - name: "git commit"
        if: ${{ steps.check.outputs.has_tag == 0 || github.event.inputs.execution == 'Manual' }}
        run: |
          git add pom.xml
          git commit -asm "Triggering a release"
          git push -f --set-upstream origin release/run-${{ github.run_number }}
      - name: Create PR
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        if: ${{ steps.check.outputs.has_tag == 0 || github.event.inputs.execution == 'Manual' }}
        with:
          script: |
            github.rest.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head: "release/run-${{ github.run_number }}",
              base: "main",
              title: "Triggering a release {patch}"
            });
